a, a:visited, a:hover, a:active {
    color: inherit;
}

.navtags
{
    margin: 7px;
    padding: 5px;
    border: green 2px solid;
    border-radius: 20px;
    width: 120px;
    text-align: center;
}
.navtags:hover
{
    background-color: green;
    .outfit-abc1
    {
        color: white;
    }
}
.outfit-abc1{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


